main{
    text-align: center;
    border: 600px solid white;
    border-top: 100px;
    background-color: aqua;
    border-bottom: 0cm;
}
@media screen and (max-width: 993.70px) {
    main {
      border-left: 10px;
    }
  }
.cross{
    text-decoration: line-through;
}